<!DOCTYPE html>
<head>
<title>Booking</title>
<link rel="stylesheets" href="_booking_modal.scss">
</head>
<body>
<div class="container">
  <div class="popup">
    <img scr="tick.png">
    <h2>Thank You!</h2>
    <p>Your booking was made successfully!</p>
    <button type="button" >Close</button>
  </div>
</div>

<script></script>
</body>
</html>
