<h2>Camping Spaces</h2>
<div class="spaces-container">
  <% @spaces.each do |space| %>
    <div class="space-item">
      <p class="space-name"><%= space.name %></p>
      <p class="space-description"><%= space.description %></p>
    </div>
  <% end %>
</div>
