<section class="section-show">
  <div class="show-container">
    <div class="show-photo-column">
      <%= image_tag "image5.jpg", class:"show-photo"%>
      <div class="show-price-section"></div>
    </div>
    <div class="show-description-column">
      <h3 class="show-space-title">Beautiful land</h3>
      <p class="show-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus quaerat sit, veniam similique a pariatur. Tempora repellendus vero, quibusdam neque voluptatibus nulla a nostrum eum, eius corporis saepe numquam laudantium.</p>
      <div class="show-features"></div>
    </div>
  </div>
</section>
