<head>
<title>Your Booking</title>
<link rel="stylesheets" href="_booking_modal.scss">
</head>
<body>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Booking Confirmation</h2>
    <p id="campingLocation">Location: </p>
    <p id="campingPrice">Price: </p>
    <p id="campingOwner">Owner's Name: </p>
    <button>Confirm Booking</button>
  </div>
</div>

<script src="script.js"></script>
</body>
