<footer class="footer">
  <div class="footer-centered">
    <ion-icon name="logo-facebook"></ion-icon>
    
    <%= image_tag "logo.png", class: "footer-logo" %>
    <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</footer>
