<footer class="footer">
  <div class="footer-centered">

  <div>
    <a href="https://twitter.com/elunmusk"><%= image_tag "twitter.png", class: "footer-media-logo" %></a>
    <a href="https://www.instagram.com/justdevelopin/"><%= image_tag "instagram.png", class: "footer-media-logo" %></a>
    <a href="https://www.facebook.com/stevejobsfilm/"><%= image_tag "facebook.png", class: "footer-media-logo" %></a>
  </div>

    <%= image_tag "footer-logo.png", class: "footer-logo" %>
    <p class="footer-text">© 2023 Spaceit EU, all rights reserved</p>
  </div>
</footer>
