<div id="homepage">
  <header class="banner">
    <h1 class="text-center">SpaceIt</h1>
    <h2 clas="text-center">We are the leaders in renting spaces in nature!</h2>
    <input type="text" placeholder="Search">
    <a href="url">Dates</a>
    <a href="url">Search</a>

    <%# <div class="container">
    </div> %>
  </header>

  <main>
    <%= image_tag "image6.jpg" %>
    <input type="text" placeholder="Discover">
    <%= image_tag "image12.jpg" %>
    <input type="text" placeholder="Discover">
  </main>
</div>
