#homepage {
  min-height: 100vh;

  .banner{
    // background-image:
    background-color: #65a179;
    height: 40vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  main {
    height: 60vh;

    img {
      height: 50%;
    }
  }
}
