.footer {
  height: 25vh;
  width: 100%;
  background-color: #061907;
  overflow: hidden;
}

.footer-logo {
  height: 200px;
  transform: translateY(-10%);

}

.footer-centered {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 0 5rem 0 #0619075f;
}

.footer-text {
  // font-size: 2rem;
  padding: 40px;
  color: #cdd1cd;
  max-width: 200px;
}

.logo-facebook {
  color:aliceblue;
  // font-size: 40rem;
}
