.footer {
  position: absolute;
  bottom: 0;
  height: 25vh;
  width: 100%;
  background-color: #061907;
  overflow: hidden;
}

.footer-logo {
  height: 30rem;
  transform: translateY(-10%);

}

.footer-centered {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 0 5rem 0 #0619075f;
}

.footer-text {
  font-size: 2rem;
  padding: 4rem;
  color: #cdd1cd;
  max-width: 45rem;
}

.logo-facebook {
  color:aliceblue;
  font-size: 40rem;
}
