.popup-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(3, 16, 3, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
}

.popup {
  position: absolute;
  background: #fff;
  top: 50%;
  left: 50%;
  padding: 50px;
  padding-top: .5rem;
  border: 1px solid #888;
  width: 1080px;
  max-width: 100%;
  border-radius: .8rem;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #333;
  visibility: hidden;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.tick-icon {
  width: 100px;
  height: auto;
  display: block;
  margin: 20px auto 30px;
  border-radius: 50%;
  box-shadow: 0 2px 5px;
}

.popup h2 {
  font-size: 50px;
  font-weight: 500;
  margin: 30px;
}

.popup p {
  font-size: 17px;
  font-weight: 500;
  margin: 40px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #384739;
  color: #fefefe;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: .8rem;
}

.blur-bg {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.popup-content {
  display: grid;
}

.popup-header {
  text-align: left;
  display: inline-flex;
  align-items: center;
}

.popup-header h2 {
  margin-top: 1;
}

.popup-space {
  padding-top: 30px;
  border-top: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.popup-space-thumb {
  max-width: 460px;
}

.popup-space-details {
  max-width: 460px;
  margin-top: -5px;
  display: grid;
  align-content: center;
}

.popup-space-details p {
  padding: 8px;
  margin: -3px;
  text-align: left;
  border-top: solid 1px #ccc;
}

.popup-space-details p:first-child {
  border-top: none;
}

.pop-up-sucess img {
  max-width: 28px;
}

.sucsess-message h2 {
  font-size: 25px;
  font-weight: bolder;
  margin: 0 0 4px 17px;
}

.pop-up-summary {
  padding: 0.3rem;
  background: #0619071f;
  border-radius: 0.8rem;
  margin-top: 1.3rem;
}

.pop-up-summary p {
  font-size: 14px;
}
