.spaces-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin: 20px;
  padding: 10px;
}

.space-card {
  background-color: #c9c6c6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.space-card:hover {
  transform: translateY(-5px);
}

.space-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


.space-content {
  padding: 10px;
}

.space-header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
}

.space-button {
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px 0px;
  border-radius: 4px;
  font-weight: bold;
  max-width: 50%;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
}

.space-rating {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #000000;
}

.add-space-container {
  text-align: center;
  margin-top: 20px;
}

.add-space-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;


}

.btn-add {
color: #e6e8e6;
display: flex;
justify-content: center;
text-align: center;
  background-color: #65a179;
  &:hover {
    background-color: #a9d1b6;
    box-shadow: inset 0 0 0 2px #a9d1b6
  }
}

.spaces2 {
  display: flex;
  flex-direction: column;
  width: 80%;

  a {
    width: 100%;
  }

}
